.app{
  
}

.spacer{
  margin-top: 2rem;
}

.flex{
  display: flex;
}

.flex-center{
  justify-content: center;
}

.hstack{
  display: flex;
  flex-direction: row;
}

.vstack{
  display: flex;
  flex-direction: column;
}

.charDisplay{
  font-size: 7rem;
}

.possible-answer{
  padding: 5px;
  margin: 5px;
  font-size: 2rem;
  width: 50px;
  text-align: center;
  cursor: pointer;
}

.answer-default{
  background-color: lightgrey;
}

.answer-wrong{
  background-color: red;
}

.alphabet-option{
  margin: 5px;
  padding: 5px;
  background-color: lightcyan;
  cursor: pointer;
}